<link rel="stylesheet" href="/css/form.css" />
<section id="form-container">
  <section id="form-heading">
    <h1>Forgot Password</h1>
    <% if(locals.error_message && locals.error_message.length > 0) { %>
    <div id="show-error-msg"><%= locals.error_message %></div>
    <% } %>
  </section>
  <section id="form-input">
    <form action="/users/send-new-password" method="POST">
      <input type="email" name="email" placeholder="Your Email" required />
      <input type="submit" value="Send New Password" />
    </form>
  </section>
  <section id="navigation">
    <div><a href="/users/sign-in">Sign-in</a></div>

    <div><a href="/users/auth/google">Google Sign-up</a></div>
  </section>
</section>
