<div>
  <p>Hi <%= user.name%>!</p>
  <br />
  <br />
  <p>
    There is request for password reset.
    <br />
    Below is your new password
    <strong><%= user.password %></strong>
  </p>
  <br />
  <br />
  <p>Thanks!</p>
</div>
